.nav {
	color: #f6f5f0;
	font-family: Avenir;
	font-weight: bold;
	font-size: 25px;
	text-align: right;
	text-transform: uppercase;
	margin-top: 50px;
}

nav {
	background-color: #c39e9e;
}

/* positioning items horizontally with no bullets */
ul {
	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	overflow: hidden;
}

li {
	float:left;
	padding: 19px;
}

a {
	color: #f6f5f0;
	font-family: Avenir;
	font-weight: bolder;
	font-size: 100px;
	text-transform: uppercase;
	text-decoration: none; /* remove underline for links */
}

/* different sizing for corner logo */
#cz {
	margin-left: 50px;
	margin-right: 310px;
}

h1 {
	color: #333333;
	font-family: Avenir;
	font-weight: bolder;
	font-size: 60px;
	text-transform: uppercase;
}

h2 {
	color: #333333;
	font-family: Avenir;
	font-weight: bold;
	font-size: 30px;
}

h3 {
	color: #333333;
	font-family: Avenir;
	font-weight: normal;
	font-size: 30px;
}

p {
	color: #333333;
	font-family: Avenir;
	font-weight: lighter;
	font-size: 20px;
}

#about {
	background-color: #c39e9e;
	text-align: center;
}

#educationtitle {
	color: #c39e9e;
}

#education {
  	background-color: #f3e3e1;
  	text-align: center;
}

.container {
	text-align: center;
}

#educationtext {
  	text-align: left;
  	display: inline-block;
}

#degree {
	color: #333333;
	font-family: Avenir;
	font-weight: bold;
	font-size: 20px;
}

#experiencetitle {
	text-align: left;
	margin-left: 130px;
}

#experience {
  	background-color: #f0e4d8;
  	text-align: center;
}

#experiencetext {
  	text-align: left;
  	display: inline-block;
}

#leadership {
  	background-color: #f6f5f0;
  	text-align: center;
}

#skills {
  	background-color: #f3e3e1;
}

#gray {
	text-align: left;
}

#contact {
  	background-color: #c39e9e;
  	text-align: center;
  	align-items: center;
}