.nav {
	color: #f6f5f0;
	font-family: Avenir;
	font-weight: bold;
	font-size: 25px;
	text-align: right;
	text-transform: uppercase;
	margin-top: 50px;
}

nav {
	background-color: #c39e9e;
}

ul {
	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	overflow: hidden;
}

li {
	float:left;
	padding: 19px;
}

a {
	color: #f6f5f0;
	font-family: Avenir;
	font-weight: bolder;
	font-size: 100px;
	text-transform: uppercase;
	text-decoration: none;
}

#cz {
	margin-left: 50px;
	margin-right: 310px;
}

h1 {
	color: #333333;
	font-family: Avenir;
	font-weight: bolder;
	font-size: 60px;
	text-transform: uppercase;
}

h2 {
	color: #333333;
	font-family: Avenir;
	font-weight: bold;
	font-size: 30px;
}

h3 {
	color: #333333;
	font-family: Avenir;
	font-weight: normal;
	font-size: 30px;
}

p {
	color: #333333;
	font-family: Avenir;
	font-weight: lighter;
	font-size: 20px;
}

#about {
	background-color: #c39e9e;
	text-align: center;
}

#education {
  	background-color: #f3e3e1;
  	position: relative;
}

.container {
	width: 70%;
	height: 60%;
	padding-top: 50px;
	text-align: center;
}

.centered {
  position: absolute; 
  top: 20%;
  left: 30%;
}

#degree {
	color: #333333;
	font-family: Avenir;
	font-weight: bold;
	font-size: 20px;
}

#experience {
  	background-color: #f0e4d8;
}

#leadership {
  	background-color: #f6f5f0;
  	text-align: center;
}

#skills {
  	background-color: #f3e3e1;
  	text-align: center;
}

#contact {
  	background-color: #c39e9e;
  	text-align: center;
}