ul {
	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	overflow: hidden;
}

li {
	float:left;
	padding: 19px;
}

h1 {
	color: #333333;
	font-family: Avenir;
	font-weight: bold;
	font-size: 60px;
}

h2 {
	color: #333333;
	font-family: Avenir;
	font-weight: normal;
	font-size: 30px;
}

p {
	color: #333333;
	font-family: Avenir;
	font-weight: lighter;
	font-size: 20px;
}

body {
	background-color: #c39e9e;
}

#home {
  background-color: #c39e9e;
}

#education {
  background-color: #f3e3e1;
}

#experience {
  background-color: #f0e4d8;
}

#leadership {
  background-color: #f6f5f0;
}

#skills {
  background-color: #f3e3e1;
}

#contact {
  background-color: #c39e9e;
}